@{
    Layout = "~/Areas/Administration/Views/_AdministrationLayout.cshtml";
    ViewBag.CurrentAction = ViewContext.RouteData.GetRequiredString("action");
}
<div>
  <div class="adm-user-menu">
    <ul class="adm-user-point">
        <li class="adm-user-point-it">@Html.ActionLink("IT", "It", "Themes") </li>
        <li class="adm-user-point-svyaz">@Html.ActionLink("Связь", "Svyaz", "Themes")</li>
        <li class="adm-user-point-aspp">@Html.ActionLink("АСПП", "Aspp", "Themes")</li>
        <li class="adm-user-point-pa">@Html.ActionLink("ПА", "Pa", "Themes")</li>
    </ul>
</div>
    @RenderBody()
</div>

@Scripts.Render("~/bundles/thememodal")
@Styles.Render("~/Content/ThemeModal")