@{
    Layout = "~/Areas/Administration/Views/_AdministrationLayout.cshtml";
    
}

<div>
    <div class="adm-user-menu">
        <ul class="adm-user-point">
            <li class="adm-user-point-it">@Html.ActionLink("IT", "It", "Indexators") </li>
            <li class="adm-user-point-svyaz">@Html.ActionLink("Связь", "Svyaz", "Indexators")</li>
            <li class="adm-user-point-aspp">@Html.ActionLink("АСПП", "Aspp", "Indexators")</li>
            <li class="adm-user-point-pa">@Html.ActionLink("ПА", "Pa", "Indexators")</li>
            <li class="adm-user-point-default">@Html.ActionLink("Модель", "Model", "Indexators")</li>
        </ul>
    </div>
    @RenderBody()
</div>

@Scripts.Render("~/bundles/indexatormodal")
@Styles.Render("~/Content/IndexatorModal")