@model MetroSupport.ViewModels.PaRequest_LogViewModel
@using MetroSupport.Commons
@{
    Layout = null;

}

<!doctype html>
<html ng-app="PaRequestApp">
<head>
    <meta charset="utf-8">
    <title>@Model.PaRequest.RequestNumber - @Model.PaRequest.TroubleSubject</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    @Styles.Render("~/Content/PaRequest")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerymodal")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/parequest")


</head>
<body>
    <div class="header-panel" ng-controller="ButtonsControlCtrl">
        <ul style="margin: 0; padding: 0; list-style-image: none;">
            @if (Model.PaRequest.Status == 0)
            {
                if (User.IsInRole("PaBoss") || User.IsInRole("CallCenter"))
                {
                    <li class="button-control-panel"><a href="#" class="button-control-mdsize" ng-click="saverequest()">Назначить и уведомить</a></li>
                }
            }
            @if (Model.PaRequest.Status == 5 || Model.PaRequest.Status == 4)
            {
                if (User.IsInRole("PaWork") || User.IsInRole("PaBoss"))
                {
                    if (Model.User.FullName == Model.PaRequest.AssignTo || Model.User.FullName == Model.PaRequest.AssignBoss)
                    {
                        <li class="button-control-panel"><a href="#" class="button-control-smsize" ng-click="saverequest()">Сохранить</a></li>
                    }
                }
                 if (User.IsInRole("CallCenter"))
                 {
                    <li class="button-control-panel"><a href="#" class="button-control-smsize" ng-click="saverequest()">Сохранить</a></li>
                 }

            }
            @if (Model.PaRequest.Status == 5 & Model.PaRequest.IsWorkingOn == 0)
            {
                if (User.IsInRole("PaWork"))
                {
                    if (Model.User.FullName == Model.PaRequest.AssignTo)
                    {
                        <li class="button-control-panel">@Html.ActionLink("Принять в работу", "Accept", "PaCallRequest", new {@requestid = Model.PaRequest.CallRequestId}, new {@class = "button-control-smsize"})</li>
                    }
                }
               
            }
            @if ((Model.PaRequest.Status == 5 || Model.PaRequest.Status == 4) & Model.PaRequest.IsWorkingOn == 1)
            {
                if (User.IsInRole("PaWork"))
                {
                    if (Model.User.FullName == Model.PaRequest.AssignBoss)
                    {
                        <li class="button-control-panel"><a href="#" class="button-control-smsize" ng-click="openholdon()">Продлить заяку</a></li>
                    }
                }

            }
            @if (Model.PaRequest.Status == 9)
            {
                if (User.IsInRole("PaBoss"))
                {
                    if (Model.User.FullName == Model.PaRequest.AssignBoss)
                    {
                        <li class="button-control-panel"><a href="#" class="button-control-mdsize" ng-click="openreturntoassigner()">Вернуть исполнителю</a></li>
                    }
                }
            }
            @if ((Model.PaRequest.Status == 5 || Model.PaRequest.Status == 4) & Model.PaRequest.IsWorkingOn == 1)
            {
                if (User.IsInRole("PaWork"))
                {
                    if (Model.User.FullName == Model.PaRequest.AssignBoss)
                    {
                        <li class="button-control-panel">@Html.ActionLink("Отправить на подтверждение", "SendForAprove", "PaCallRequest", new {@requestid = Model.PaRequest.CallRequestId}, new {@class = "button-control-lgsize"})</li>
                    }
                }
            }
            @if (Model.PaRequest.Status == 9)
            {
                if (User.IsInRole("PaBoss"))
                {
                    if (Model.User.FullName == Model.PaRequest.AssignBoss)
                    {
                        <li class="button-control-panel">@Html.ActionLink("Закрыть заявку", "CloseRequest", "PaCallRequest", new {@requestid = Model.PaRequest.CallRequestId}, new {@class = "button-control-smsize"})</li>
                    }
                }
            }
            @if ((Model.PaRequest.Status == 5 || Model.PaRequest.Status == 4) & Model.PaRequest.IsWorkingOn == 1)
            {
                if (User.IsInRole("PaWork") || User.IsInRole("PaBoss"))
                {
                    if (Model.User.FullName == Model.PaRequest.AssignBoss || Model.User.FullName == Model.PaRequest.AssignTo)
                    {
                        <li class="button-control-panel"><a href="#" class="button-control-smsize" ng-click="opendenyrequest()">Отклонить</a></li>
                    }
                }
            }
        </ul>
        @Html.Partial("_LoginPartial",Model.User)
    </div>
    <div class="request-header-box">

        <span class="request-header-item-smfont request-header-item-smsize request-header-item-name-color">№ заявки: </span> <span class="request-header-item-smfont request-header-item-smsize request-header-item-content-color">@Model.PaRequest.RequestNumber</span>
        <div class="request-header-clear">  </div>
        <span class="request-header-item-lgfont request-header-item-lgsize request-header-item-name-color">Проблема: </span> <span class="request-header-item-lgfont request-header-item-lgsize-def request-header-item-content-color">@Theme.ThemePrimaryDefault(Model.PaRequest.TroubleSubject)</span>
        <div class="request-header-clear">  </div>
        <span class="request-header-item-smfont request-header-item-smsize request-header-item-name-color ">Дата:</span> <span class="request-header-item-smfont request-header-item-smsize request-header-item-content-color"> @Dates.DateNullConversion(Model.PaRequest.Creation) @Dates.TimeNullConversion(Model.PaRequest.Time)</span>
        <div class="request-header-clear">  </div>
        <span class="request-header-item-smfont request-header-item-smsize request-header-item-name-color">Статус:</span> <span class="request-header-item-smfont request-header-item-smsize request-header-item-content-color">@Status.StatusConvertion(Model.PaRequest.Status, Model.PaRequest.IsWorkingOn)</span>
        <div class="request-header-clear">  </div>
    </div>

    <div class="tab-link-zone">
        <ul id="tabs">
            <li><a href="#" name="tab1">Заявка</a></li>
            <li><a href="#" name="tab2">Работа</a></li>
            <li><a href="#" name="tab3">История</a></li>
        </ul>
    </div>
    <div id="content">
        @using (Html.BeginForm("CreateAndSave", "PaCallRequest", FormMethod.Post, new { id = "pacallrequestform" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.PaRequest.CallRequestId)
            <div id="tab1">
                <div class="request-subject-box" ng-controller="TroubleSubjectCtrl">
                    <div class="request-subject-name">Тема заявки:</div> @Html.TextBoxFor(x => x.PaRequest.TroubleSubject, new { @class = "request-subject-input", ng_model = "theme.themename", @ng_init = "theme.themename ='" + Model.PaRequest.TroubleSubject + "'", @readonly = "readonly" }) <input type="button" ng-click="openthemedialog()" class="request-subject-button" value="..." />
                    <div id="modalthemes" style="display: none">
                        <div class="pa-themes-background">
                            <div class="pa-themes-header">
                                <div class="pa-themes-header-text">Выбирите тему</div>
                            </div>
                            <div class="pa-themes-container">
                                <div class="pa-themes-box">

                                </div>

                            </div>
                            <div style="clear: both"> </div>
                            <div class="pa-themes-control">
                                <button type="button" class="pa-themes-button button-ok" ng-click="themeacception()">Принять</button>
                                <button type="button" class="pa-themes-button button-cancel">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="request-comment-box">
                    <div class="request-comment-name">Комментарий:</div> @Html.TextAreaFor(x => x.PaRequest.Comment, new { @class = "request-comment-input" })
                </div>

                <div class="request-infobox-lg" ng-controller="DeviceInfoCtrl">
                    <div class="request-infobox-header">
                        <div class="request-infobox-text">Оборудование заявителя</div>
                    </div>
                    <div class="request-infobox-lg-context">
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Инв. №</div> @Html.TextBoxFor(x => x.PaRequest.InvNumber, new { @class = "request-infobox-context-inv", ng_model = "device.invnumber", @ng_init = "device.invnumber ='" + Model.PaRequest.InvNumber + "'"}) <input type="button" id="adddevice" ng-click="opendialog()" class="request-infobox-context-button" value="..." />
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Устройство</div> @Html.TextBoxFor(x => x.PaRequest.DeviceName, new { @class = "request-infobox-context-input", ng_model = "device.devicename", @ng_init = "device.devicename ='" + Model.PaRequest.DeviceName + "'", @readonly = "readonly" })
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Серийный номер</div> @Html.TextBoxFor(x => x.PaRequest.SerialNumber, new { @class = "request-infobox-context-input", ng_model = "device.serialnumber", @ng_init = "device.serialnumber ='" + Model.PaRequest.SerialNumber + "'", @readonly = "readonly" })
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Класс</div> @Html.TextBoxFor(x => x.PaRequest.DeviceClass, new { @class = "request-infobox-context-input", ng_model = "device.deviceclass", @ng_init = "device.deviceclass ='" + Model.PaRequest.DeviceClass + "'", @readonly = "readonly" })
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Тип</div> @Html.TextBoxFor(x => x.PaRequest.DeviceType, new { @class = "request-infobox-context-input", ng_model = "device.devicetype", @ng_init = "device.devicetype ='" + Model.PaRequest.DeviceType + "'", @readonly = "readonly" })
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Модель</div> @Html.TextBoxFor(x => x.PaRequest.DeviceModel, new { @class = "request-infobox-context-input", ng_model = "device.devicemodel", @ng_init = "device.devicemodel ='" + Model.PaRequest.DeviceModel + "'", @readonly = "readonly" })
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Ввод в эксп.</div> @Html.TextBoxFor(x => x.PaRequest.DateInWork, "dd.mm.yyyy", new { @class = "request-infobox-context-input", ng_model = "device.dateinwork", @ng_init = "device.dateinwork ='" + Model.PaRequest.DateInWork + "'", @readonly = "readonly" })
                        </div>
                        <div class="request-infobox-context-container">
                        </div>
                        <div class="request-infobox-context-container">
                        </div>

                    </div>
                </div>
                <div class="request-infobox-lg">
                    <div class="request-infobox-header">
                        <div class="request-infobox-text">Описание проблемы</div>
                    </div>
                    <div class="request-infobox-lg-context" ng-controller="CategoriesCtrl">
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Направление</div> @Html.TextBoxFor(x => x.PaRequest.TroubleDepartment, new { @class = "request-infobox-context-inv", ng_model = "category.troubledepartment", @readonly = "readonly" }) 
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Категория</div> @Html.TextBoxFor(x => x.PaRequest.Category, new { @class = "request-infobox-context-input", ng_model = "category.categoryname", @ng_init = "category.categoryname ='" + Model.PaRequest.Category + "'", @readonly = "readonly" }) @Html.TextBoxFor(x => x.PaRequest.NextSubCategoryId, new { ng_model = "category.nextsubcategory0", @ng_init = "category.nextsubcategory0 ='" + Model.PaRequest.NextSubCategoryId + "'", id = "nextsubcategory0", style = "display: none" }) <input type="button" class="request-infobox-context-button" data-number="0" ng-click="opencategoriesdialog($event)" value="..." />
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Подкатегория1</div> @Html.TextBoxFor(x => x.PaRequest.SubCategory1, new { @class = "request-infobox-context-input", ng_model = "category.subcategory1", @ng_init = "category.subcategory1 ='" + Model.PaRequest.SubCategory1 + "'", @readonly = "readonly" }) @Html.TextBoxFor(x => x.PaRequest.NextSubCategoryId1, new { ng_model = "category.nextsubcategory1", @ng_init = "category.nextsubcategory1 ='" + Model.PaRequest.NextSubCategoryId1 + "'", id = "nextsubcategory1", style = "display: none" })<div ng-show="category.btncategory1">
                                <input type="button" class="request-infobox-context-button" ng-click="opencategoriesdialog($event)" data-number="1" value="..." />
                            </div>
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Подкатегория2</div> @Html.TextBoxFor(x => x.PaRequest.SubCategory2, new { @class = "request-infobox-context-input", ng_model = "category.subcategory2", @ng_init = "category.subcategory2 ='" + Model.PaRequest.SubCategory2 + "'", @readonly = "readonly" }) @Html.TextBoxFor(x => x.PaRequest.NextSubCategoryId2, new { ng_model = "category.nextsubcategory2", @ng_init = "category.nextsubcategory2 ='" + Model.PaRequest.NextSubCategoryId2 + "'", id = "nextsubcategory2", style = "display: none" })
                            <div ng-show="category.btncategory2">
                                <input type="button" class="request-infobox-context-button" ng-click="opencategoriesdialog($event)" data-number="2" value="..." />
                            </div>
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Подкатегория3</div> @Html.TextBoxFor(x => x.PaRequest.SubCategory3, new { @class = "request-infobox-context-input", ng_model = "category.subcategory3", @ng_init = "category.subcategory3 ='" + Model.PaRequest.SubCategory3 + "'", @readonly = "readonly" }) @Html.TextBoxFor(x => x.PaRequest.NextSubCategoryId3, new { ng_model = "category.nextsubcategory3", @ng_init = "category.nextsubcategory3 ='" + Model.PaRequest.NextSubCategoryId3 + "'", id = "nextsubcategory3", style = "display: none" })
                            <div ng-show="category.btncategory3">
                                <input type="button" class="request-infobox-context-button" ng-click="opencategoriesdialog($event)" data-number="3" value="..." />
                            </div>
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Подкатегория4</div> @Html.TextBoxFor(x => x.PaRequest.SubCategory4, new { @class = "request-infobox-context-input", ng_model = "category.subcategory4", @ng_init = "category.subcategory4 ='" + Model.PaRequest.SubCategory4 + "'", @readonly = "readonly" }) @Html.TextBoxFor(x => x.PaRequest.NextSubCategoryId4, new { ng_model = "category.nextsubcategory4", @ng_init = "category.nextsubcategory4 ='" + Model.PaRequest.NextSubCategoryId4 + "'", id = "nextsubcategory4", style = "display: none" })<div ng-show="category.btncategory4">
                                <input type="button" class="request-infobox-context-button" ng-click="opencategoriesdialog($event)" data-number="4" value="..." />
                            </div>
                        </div>

                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Подкатегория5</div> @Html.TextBoxFor(x => x.PaRequest.SubCategory5, new { @class = "request-infobox-context-input", ng_model = "category.subcategory5", @ng_init = "category.subcategory5 ='" + Model.PaRequest.SubCategory5 + "'", @readonly = "readonly" }) @Html.TextBoxFor(x => x.PaRequest.NextSubCategoryId5, new { ng_model = "category.nextsubcategory5", @ng_init = "category.nextsubcategory5 ='" + Model.PaRequest.NextSubCategoryId5 + "'", id = "nextsubcategory5", style = "display: none" })
                            <div ng-show="category.btncategory5">
                                <input type="button" class="request-infobox-context-button" ng-click="opencategoriesdialog($event)" data-number="5" value="..." />
                            </div>
                        </div>
                        <div class="request-infobox-context-container"> </div>
                        <div class="request-infobox-context-container" ng-show="category.modelcontainer">
                            <div class="request-infobox-context-name">Модель</div> @Html.TextBoxFor(x => x.PaRequest.Model, new { @class = "request-infobox-context-input", ng_model = "category.model", @ng_init = "category.model ='" + Model.PaRequest.Model + "'", @readonly = "readonly" }) @Html.TextBoxFor(x => x.PaRequest.ModelId, new { ng_model = "category.modelid", @ng_init = "category.modelid ='" + Model.PaRequest.ModelId + "'", id = "modelid", style="display: none" }) <input type="button" class="request-infobox-context-button" ng-click="opendevicemodelsdialog()" value="..." />
                        </div>
                        <div id="modalcategories" style="display: none">
                            <div class="pa-categories-background">
                                <div class="pa-categories-header">
                                    <div class="pa-categories-header-text">Выбирите категорию</div>
                                </div>
                                <div class="pa-categories-container">
                                    <div class="pa-categories-box">

                                    </div>
                                </div>
                                <div style="clear: both"> </div>
                                <div class="pa-categories-control">
                                    <button type="button" class="pa-categories-button button-ok" ng-click="categoryacception()">ОК</button>
                                    <button type="button" class="pa-categories-button button-cancel">Отмена</button>
                                </div>
                            </div>
                        </div>
                        <div id="modaldevicemodels" style="display: none">
                            <div class="pa-devicemodels-background">
                                <div class="pa-devicemodels-header">
                                    <div class="pa-devicemodels-header-text">Выбирите модель устройства</div>
                                </div>
                                <div class="pa-devicemodels-container">
                                    <div class="pa-devicemodels-box">

                                    </div>
                                </div>
                                <div style="clear: both"> </div>
                                <div class="pa-devicemodels-control">
                                    <button type="button" class="pa-devicemodels-button button-ok" ng-click="devicemodelacception()">ОК</button>
                                    <button type="button" class="pa-devicemodels-button button-cancel">Отмена</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="request-header-clear"></div>
                <div class="request-infobox-sm" ng-controller="RequestorCtrl">
                    <div class="request-infobox-header">
                        <div class="request-infobox-text">Заявитель</div>
                    </div>
                    <div class="request-infobox-sm-context">
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">ФИО</div> @Html.TextBoxFor(x => x.PaRequest.RequestorName, new { @class = "request-infobox-context-input", ng_model = "requestor.requestorname", @ng_init = "requestor.requestorname ='" + Model.PaRequest.RequestorName + "'", @readonly = "readonly" }) <input type="button" ng-click="openrequestordialog()" class="request-infobox-context-button" value="..." />
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Подразделение</div> @Html.TextBoxFor(x => x.PaRequest.Organization, new { @class = "request-infobox-context-input", ng_model = "requestor.department", @ng_init = "requestor.department ='" + Model.PaRequest.Organization + "'", @readonly = "readonly" })
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Отдел</div> @Html.TextBoxFor(x => x.PaRequest.Department, new { @class = "request-infobox-context-input", ng_model = "requestor.subdepartment", @ng_init = "requestor.subdepartment ='" + Model.PaRequest.Department + "'", @readonly = "readonly" })
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Тел.</div> @Html.TextBoxFor(x => x.PaRequest.Tel, new { @class = "request-infobox-context-input", ng_model = "requestor.tel", @ng_init = "requestor.tel ='" + Model.PaRequest.Tel + "'", @readonly = "readonly" })
                        </div>


                    </div>
                </div>
                <div class="request-infobox-sm">
                    <div class="request-infobox-header" ng-controller="RequestorCtrl">
                        <div class="request-infobox-text">Место нахождения</div>
                    </div>
                    <div class="request-infobox-sm-context">
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Адрес</div> @Html.TextBoxFor(x => x.PaRequest.Address, new { @class = "request-infobox-context-input", ng_model = "requestor.address", @ng_init = "requestor.address ='" + Model.PaRequest.Address + "'", @readonly = "readonly" })
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Комната</div> @Html.TextBoxFor(x => x.PaRequest.Room, new { @class = "request-infobox-context-input", ng_model = "requestor.room", @ng_init = "requestor.room ='" + Model.PaRequest.Room + "'", @readonly = "readonly" })
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Этаж</div> @Html.TextBoxFor(x => x.PaRequest.Floor, new { @class = "request-infobox-context-input", ng_model = "requestor.floor", @ng_init = "requestor.floor ='" + Model.PaRequest.Floor + "'", @readonly = "readonly" })
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Площадка</div>
                            <div class="request-infobox-context-select"> @Html.DropDownListFor(x => x.PaRequest.Location, Model.Location, new { @readonly = "readonly" })</div>
                        </div>

                    </div>
                </div>
                <div class="request-header-clear"> </div>
                <div class="request-infobox-sm">

                </div>
                <div class="request-infobox-sm">
                    <div class="request-infobox-header">
                        <div class="request-infobox-text">Исполнитель</div>
                    </div>
                    <div class="request-infobox-sm-context" ng-controller="AssignerCtrl">
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Исполнитель</div> @Html.TextBoxFor(x => x.PaRequest.AssignTo, new { @class = "request-infobox-context-input", ng_model = "assigner.assignername", @ng_init = "assigner.assignername ='" + Model.PaRequest.AssignTo + "'", @readonly = "readonly" }) <input type="button" class="request-infobox-context-button" ng-click="openassignerdialog()" value="..." />
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Ответственный</div>@Html.TextBoxFor(x => x.PaRequest.AssignBoss, new { @class = "request-infobox-context-input", ng_model = "assigner.bossname", @ng_init = "assigner.bossname ='" + Model.PaRequest.AssignBoss + "'", @readonly = "readonly" })
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Сектор</div> @Html.TextBoxFor(x => x.PaRequest.AssignSubDepartment, new { @class = "request-infobox-context-input", ng_model = "assigner.subdepartment", @ng_init = "assigner.subdepartment ='" + Model.PaRequest.AssignSubDepartment + "'", @readonly = "readonly" })
                        </div>
                        <div class="request-infobox-context-container">
                            <div class="request-infobox-context-name">Отдел</div> @Html.TextBoxFor(x => x.PaRequest.AssignDepartment, new { @class = "request-infobox-context-input", ng_model = "assigner.department", @ng_init = "assigner.department ='" + Model.PaRequest.AssignDepartment + "'", @readonly = "readonly" })
                        </div>

                        <div id="modalassigners" style="display: none">
                            <div class="pa-assigner-background">
                                <div class="pa-assigner-header">
                                    <div class="pa-assigner-header-text">Выбирите исполнителя</div>
                                </div>
                                <div class="pa-assigner-container">
                                    <div style="float: left">
                                        <div class="pa-assigner-head-note">
                                            Подразделение
                                        </div>
                                        <div class="pa-assigner-department-box">

                                        </div>
                                    </div>

                                    <div style="margin: 0 0 0 20px; float: left">
                                        <div class="pa-assigner-head-note">
                                            Исполнители
                                        </div>
                                        <div class="pa-assigner-box">

                                        </div>
                                    </div>
                                </div>
                                <div style="clear: both"> </div>
                                <div class="pa-assigner-control">
                                    <button type="button" class="pa-assigner-button button-ok" ng-click="assigneracception()">Принять</button>
                                    <button type="button" class="pa-assigner-button button-cancel">Отмена</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="tab2">
                <div class="request-work-sm">
                    <div class="request-work-header">
                        <div class="request-work-text">Время выполнения работы</div>
                    </div>
                    <div class="request-work-sm-context">
                        <div class="request-work-context-container">
                            <div class="request-work-context-name">Начало работы</div> @Html.TextBoxFor(x => x.PaRequest.StartDateInWork, "{0:dd.mm.yyyy}", new { @class = "request-work-context-time", @Value = Dates.DateNullConversion(Model.PaRequest.StartDateInWork), id = "startdatepicker" }) @Html.TextBoxFor(x => x.PaRequest.StartTimeInWork, new { @class = "request-work-context-time", @Value = Dates.TimeNullConversion(Model.PaRequest.StartTimeInWork), id = "starttimepicker" })
                            <input type="button" class="request-work-context-button" value="..." />
                        </div>
                        <div class="request-work-context-container">
                            <div class="request-work-context-name">Конец работы</div> @Html.TextBoxFor(x => x.PaRequest.EndDateInWork, "{0:dd.mm.yyyy}", new { @class = "request-work-context-time", @Value = Dates.DateNullConversion(Model.PaRequest.EndDateInWork), id = "enddatepicker" }) @Html.TextBoxFor(x => x.PaRequest.EndTimeInWork, new { @class = "request-work-context-time", @Value = Dates.TimeNullConversion(Model.PaRequest.EndTimeInWork), id = "endtimepicker" })
                            <input type="button" class="request-work-context-button" value="..." />
                        </div>
                        <div class="request-work-context-container">
                        </div>
                        <div class="request-work-context-container">
                            <div class="request-work-context-name">Затрачено</div> @Html.TextBoxFor(x => x.PaRequest.TotalWorkInDays, new { @class = "request-work-context-total", @readonly = "readonly", id = "totaldays" })
                            <div class="request-work-context-total-lable"> дн. </div> @Html.TextBoxFor(x => x.PaRequest.TotalWorkInHours, new { @class = "request-work-context-total", @readonly = "readonly", id = "totalhours" })
                            <div class="request-work-context-total-lable">час.</div>@Html.TextBoxFor(x => x.PaRequest.TotalWorkInMinutes, new { @class = "request-work-context-total", @readonly = "readonly", id = "totalminutes" })
                            <div class="request-work-context-total-lable">мин.</div>
                        </div>

                    </div>
                </div>
                <div style="clear: both"></div>
                <div class="request-work-sm">
                    <div class="request-work-header">
                        <div class="request-work-text">Параметры работы</div>
                    </div>
                    <div class="request-work-sm-context">
                        <div class="request-work-context-container">
                            <div class="request-work-context-name">Причина неполадки</div>
                            <div class="request-work-context-select">
                        @Html.DropDownListFor(x => x.PaRequest.TroubleReason, new List<SelectListItem>
                        {
                            new SelectListItem {Value = "0", Text = ""},
                            new SelectListItem {Value = "1", Text = "Другое"},
                            new SelectListItem {Value = "2", Text = "Отказ оборудования"},
                            new SelectListItem {Value = "3", Text = "Ошибка пользователя"},
                            new SelectListItem {Value = "4", Text = "Программная ошибка"}

                        },
                            new { @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="request-work-context-container">
                            <div class="request-work-context-name">Профилактика</div>
                            <div class="request-work-context-select">
                                @Html.DropDownListFor(x => x.PaRequest.Prevention, new List<SelectListItem>
                        {
                            new SelectListItem {Value = "0", Text = ""},
                            new SelectListItem {Value = "1", Text = "Выполнялась"},
                            new SelectListItem {Value = "2", Text = "Не выполнялась"}
                        },
                            new { @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="request-work-context-container">
                            
                        </div>
                    </div>

                </div>
                <div style="clear: both"></div>
                <div class="request-work-lg">
                    <div class="request-work-lg-header">
                        <div class="request-work-text">Описание выполненной работы</div>
                    </div>
                    <div class="request-work-lg-context">
                        <div class="request-work-context-lg-container">
                            <div class="request-work-context-name">Описание проблемы</div> @Html.TextAreaFor(x => x.PaRequest.TroubleDescription, new { @class = "request-work-context-lg-input", id = "troubledescription" })
                        </div>
                        <div class="request-work-context-lg-container">
                            <div class="request-work-context-name">Решение проблемы</div> @Html.TextAreaFor(x => x.PaRequest.ResolveDescription, new { @class = "request-work-context-lg-input", id = "resolvedescription" })
                        </div>

                    </div>
                </div>
            </div>
        }
        <div id="tab3">
            <div class="request-history-input-box">
                <div class="request-history-input-header">
                    <div class="request-history-header-text">Создано</div>
                </div>
                <div class="request-history-input">@Model.PaRequestLog.WhoCreate</div>
                <div class="request-header-clear"></div>
                <div class="request-history-input-header">
                    <div class="request-history-header-text">Дата и время</div>
                </div>
                <div class="request-history-input">@Dates.DateNullConversion(Model.PaRequestLog.CreateDate) @Dates.TimeNullConversion(Model.PaRequestLog.CreateDate)</div>
            </div>
            <div class="request-history-input-box">
                <div class="request-history-input-header">
                    <div class="request-history-header-text">Изменено</div>
                </div>
                <div class="request-history-input">@Model.PaRequestLog.WhoChange</div>
                <div class="request-header-clear"> </div>
                <div class="request-history-input-header">
                    <div class="request-history-header-text">Дата и время</div>
                </div>
                <div class="request-history-input">@Dates.DateNullConversion(Model.PaRequestLog.ChangeDate) @Dates.TimeNullConversion(Model.PaRequestLog.ChangeDate)</div>
            </div>
            <div class="request-header-clear"> </div>
            <div class="request-history-log-box">
                <div class="request-history-log-header">
                    <div class="request-history-header-log-text">Детализация</div>
                </div>
                <div class="request-history-log-board">
                    <div class="request-history-log-context">
                        @if (Model.PaRequestLog.LogTextCollection != null)
                        {
                            foreach (string logtext in Model.PaRequestLog.LogTextCollection)
                            {
                                @logtext<br>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalholdon" style="display: none">
        @using (Html.BeginForm("MakeHold", "PaCallRequest", FormMethod.Post, new { id = "holdonform" }))
        {
            <div class="pa-holdon-background">
                <div class="pa-holdon-header">
                    <div class="pa-holdon-header-text">Укажите причину продления заявки</div>
                </div>
                @Html.Hidden("requestid", Model.PaRequest.CallRequestId)
                <div class="pa-holdon-container">
                    @Html.TextArea("description", new { @class = "pa-holdon-box" })
                </div>
                <div style="clear: both"> </div>
                <div class="pa-holdon-control">
                    <button type="submit" class="pa-holdon-button button-ok">Продлить</button>
                    <button type="button" class="pa-holdon-button button-cancel">Отмена</button>
                </div>
            </div>
        }
    </div>

    <div id="modalreturnto" style="display: none">
        @using (Html.BeginForm("ReturnToAssigner", "PaCallRequest", FormMethod.Post, new { id = "returntoform" }))
        {
            <div class="pa-returnto-background">
                <div class="pa-returnto-header">
                    <div class="pa-returnto-header-text">Укажите причину возврата заявки</div>
                </div>
                @Html.Hidden("requestid", Model.PaRequest.CallRequestId)
                <div class="pa-returnto-container">
                    @Html.TextArea("description", new { @class = "pa-returnto-box" })
                </div>
                <div style="clear: both"> </div>
                <div class="pa-returnto-control">
                    <button type="submit" class="pa-returnto-button button-ok">Вернуть</button>
                    <button type="button" class="pa-returnto-button button-cancel">Отмена</button>
                </div>
            </div>
        }
    </div>

    <div id="modaldeny" style="display: none">
        @using (Html.BeginForm("Deny", "PaCallRequest", FormMethod.Post, new { id = "denyform" }))
        {
            <div class="pa-returnto-background">
                <div class="pa-returnto-header">
                    <div class="pa-returnto-header-text">Укажите причину возврата заявки</div>
                </div>
                @Html.Hidden("requestid", Model.PaRequest.CallRequestId)
                <div class="pa-returnto-container">
                    @Html.TextArea("description", new { @class = "pa-returnto-box" })
                </div>
                <div style="clear: both"> </div>
                <div class="pa-returnto-control">
                    <button type="submit" class="pa-returnto-button button-ok">Вернуть</button>
                    <button type="button" class="pa-returnto-button button-cancel">Отмена</button>
                </div>
            </div>
        }
    </div>

    <div id="modaldevices" style="display: none">
        <div class="pa-devices-background" ng-controller="DeviceInfoCtrl">
            <div class=" pa-devices-header">
                <div class="pa-devices-header-text">Выбирите устройство</div>
            </div>
            <div class="pa-devices-container">
                <div class="pa-devices-search-box">
                    <input type="text" ng-model="searchdevice" class="pa-devices-search-input" placeholder="Введите инвентерный новер..." />
                    <button type="button" ng-click="search()" class="pa-devices-search-button">Найти</button>
                </div>
                <div class="pa-devices-box">
                    <div class="pa-devices-item" data-index="0" ng-click="item($event)">
                        X1234 - Системный блок
                    </div>
                    <div class="pa-devices-item" data-index="1" ng-click="item($event)">
                        0002313m - Тонкий клиент
                    </div>
                    <div class="pa-devices-item" data-index="2" ng-click="item($event)">
                        4521 - Монитор
                    </div>
                </div>
                <div style="clear: both"> </div>
                <div class="pa-devices-control">
                    <button type="button" ng-click="deviceacception()" class="pa-devices-button button-ok">Принять</button>
                    <button type="button" class="pa-devices-button button-cancel">Отмена</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modalrequestors" style="display: none" ng-controller="RequestorCtrl">
        <div class="pa-requestors-background">
            <div class="pa-requestors-header">
                <div class="pa-requestors-header-text">Выбирите заявителя</div>
            </div>
            <div class="pa-requestors-container">
                <div class="pa-requestors-search-box">
                    <input type="text" class="pa-requestors-search-input" ng-model="searchrequestor" placeholder="Введите имя заявителя..." />
                    <button type="button" ng-click="searchallrequestors()" class="pa-requestors-search-button">Найти</button>
                </div>
                <div class="pa-requestors-box"></div>
            </div>
            <div style="clear: both"> </div>
            <div class="pa-requestors-control">
                <button type="button" class="pa-requestors-button button-ok" ng-click="requestoracception()">Принять</button>
                <button type="button" class="pa-requestors-button button-cancel">Отмена</button>
            </div>
        </div>
    </div>

    @Styles.Render("~/Content/PaRequestModals")


</body>
</html>
