@{
    Layout = "~/Areas/Administration/Views/_AdministrationLayout.cshtml";
    
}
<div>
    <div class="adm-user-menu">
        <ul class="adm-user-point">
            <li class="adm-user-point-it">@Html.ActionLink("IT", "It", "Bosses") </li>
            <li class="adm-user-point-svyaz">@Html.ActionLink("Связь", "Svyaz", "Bosses")</li>
            <li class="adm-user-point-aspp">@Html.ActionLink("АСПП", "Aspp", "Bosses")</li>
            <li class="adm-user-point-pa">@Html.ActionLink("ПА", "Pa", "Bosses")</li>
        </ul>
    </div>
    @RenderBody()
</div>

@Scripts.Render("~/bundles/bossmodal")
@Styles.Render("~/Content/BossModal")